Source: orbited
Section: unknown
Priority: extra
Maintainer: paul cannon <paul@dijkstra-squeeze.dc9.debconf.org>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/orbited.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/orbited.git;a=summary

Package: orbited
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
