Source: orbited
Section: net
Priority: extra
Maintainer: paul cannon <pik@debian.org>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-all, python-support (>= 0.6), python-setuptools
Standards-Version: 3.9.1
Homepage: http://orbited.org/

Package: orbited
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-setuptools, python-pkg-resources, python-twisted-core, python-twisted-web, python-demjson | python-cjson | python-simplejson, python-morbid (>= 0.8.7.1)
Recommends: python-openssl
Description: Bidirectional bridge from browser (Javascript) to TCP socket
 Orbited provides a pure Javascript/HTML socket in the browser. It is a web
 router and firewall that allows you to integrate web applications with
 arbitrary back-end systems. You can implement any network protocol in the
 browser - without resorting to plugins.
 .
 Orbited ships with support for many protocols out of the box, including IRC,
 XMPP, and STOMP (ActiveMQ, RabbitMQ).
 .
 It works in all modern browsers, cross-port and cross-subdomain, with no
 loading bars, clicks, or spurious history entries. It uses only web standards
 to provide the most future-proof API and implementation.
